.home-container {
  .device-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .device-info {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 8px;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        position: relative;

        .device-img {

          img{
            width: 10rem;
            // border: 1px solid #ccc;
            border-radius: 8px;
          }
        }

        

        .device-content {

          .device-name {
            margin-top: 5px;
          }

          .device-control {
            position: absolute;
            bottom: 10px;
            right: 10px;

            button {
              border: 1px solid #002ea3;
              background: white;
              color: #002ea3;
              padding: 0.5rem 1rem;
              border-radius: 8px;
              transition: all 0.3s ease-in;

              &:hover {
                background: #002ea3;
                color: #fff;
              }
            }
          }
        }
    }
  }
}
