.home-container {
  .device-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    // row-gap: 15px;

    .device-img {
      img{
        width: 5rem;
      }
    }

    .device-control {
        justify-self: end;
    }
  }
}
